<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Genres</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet"href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
	
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${genres}" class="container my-5">

					<form th:action="@{/searchGenre}" class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" name= "keyword" id = "keyword"
							   type="text" placeholder="Search Genre" aria-label="Search"
							   style="width: 75%" th:value="${keyword}">
						<input class="btn btn-outline-success active my-2 my-sm-0" type="submit" value="Search" />
					</form>

					<p class="my-5">
						<a href="/addGenre" class="btn btn-primary d-flex align-items-center justify-content-center" style="width: 40%">
							<i class="fa-solid fa-film" style="font-size: 40px; margin-right: 15px; "></i>
							<b>Add Genre</b></a>
					</p>

					<div class="col-md-12">
						<div>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Genre Name</th>
										<th>Edit</th>
										<th>Remove</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="genre : ${genres}">
										<td th:text="${genre.genreName}"></td>
										<td><a th:href="@{/updateGenre/{id}(id=${genre.genreId})}" class="btn btn-primary"><i class="fas fa-marker ml-2"></i></a></td>
										<td><a th:href="@{/remove-genre/{id}(id=${genre.genreId})}" class="btn btn-primary"><i class="fa-solid fa-minus ml-1 mr-1"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin-top: 100px" th:insert="fragments/footer :: footer"></div>
</body>

</html>