<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Footer</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>
	<footer th:fragment="footer"  class="page-footer font-small cyan darken-3"
			style="position: fixed;
			padding: 10px 10px 10px 10px;
			bottom: 0;
			width: 100%;
			background-color: #283a4f;
			color: white;">
		<div class="container footer-copyright text-left col-md-15" style="font-size: 13px">
			<div class="d-flex align-items-center justify-content-between">
				<div>Samgau Library<br>Nur-Sultan, Kazakhstan</div>
				<div>© All Rights Reserved</div>
				<div>Tel. +7 777 77 77<br>Site. <a>samgau.com</a></div>
			</div>
		</div>
	</footer>

</body>
</html>