<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	
</head>

<body>
	<div th:insert="fragments/header :: header"></div>

	<div class="container">
		<div class="d-flex align-items-center justify-content-between">
			<div style="margin-top: 200px">
				<button type="button" class="btn btn-secondary"
						style="height: 150px; width: 300px; font-size: 30px; border-radius: 50%;">Guest</button>
			</div>
			<div style="margin-top: 200px">
				<button type="button" class="btn btn-primary"
						style="height: 150px; width: 300px; font-size: 30px; border-radius: 50%;">Student</button>
			</div>
			<div style="margin-top: 200px">
				<button type="button" class="btn btn-success"
						style="height: 150px; width: 300px; font-size: 30px; border-radius: 50%;">Librarian</button>
			</div>
		</div>
	</div>

	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>